@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
 
    body {
        background: linear-gradient(#e66465, #9198e5);
        background-repeat: no-repeat;
        background-position: top left;
        height: 100vh;
        color: rgb(230,230,230);
        font-family: 'Orbitron', sans-serif;
        margin: 0px; /* Prevents vertical scrolling */
    }
    #countdown {
        display: flex; /* Apply flexbox */
        flex-direction: row;
        justify-content: center; /* Horizontal centering  */
        align-items: center; /* Vertical centering  */
        font-size: 25px;
        text-align: center;
        height: 100vh; /* Important for vertical centering  */
    }
    table{
        text-align: center;
    }
    .number {
        display: inline-block; /* Important for setting width  */
        border: 1px grey solid;
        background-color: rgb(230,230,230);
        color: rgb(10,10,10);
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        margin-left: 0.1rem;
        margin-right: 0.1rem;
        width: 40px; /* Fixed width to prevent change with display numbers */
    }
    .colon {
        border: none;
        padding-left: 0.05rem;
        padding-right: 0.05rem;
    }
    .text {
        font-size: 0.8rem;
        vertical-align: top;
    }
    .colon {
        font-size: 2.5rem;
    }
    .colonright {
        margin-right: 0.7rem; /* Mimics colon in row above  */
    }
